USE [Web_BanSach]
GO
/****** Object:  Table [dbo].[CHITIET_DONHANG]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_DONHANG](
	[Ma_DonHang] [varchar](50) NOT NULL,
	[Ma_Sach] [varchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
 CONSTRAINT [PK_CHITIET] PRIMARY KEY CLUSTERED 
(
	[Ma_DonHang] ASC,
	[Ma_Sach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[Ma_ChucNang] [varchar](50) NOT NULL,
	[Ten_ChucNang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUCNANG] PRIMARY KEY CLUSTERED 
(
	[Ma_ChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[Ma_ChuDe] [varchar](50) NOT NULL,
	[Ten_ChuDe] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CHUDE] PRIMARY KEY CLUSTERED 
(
	[Ma_ChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DATHANG]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DATHANG](
	[Ma_DonHang] [varchar](50) NOT NULL,
	[Da_ThanhToan] [bit] NOT NULL,
	[TinhTrang_GiaoHang] [nvarchar](50) NULL,
	[Ngay_Dat] [date] NOT NULL,
	[Ngay_Giao] [date] NULL,
	[Ma_KhachHang] [varchar](50) NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[Ma_DonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[Ma_KhachHang] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](50) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[Ma_KhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_TAIKHOAN]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_TAIKHOAN](
	[Ma_LoaiTK] [varchar](50) NOT NULL,
	[Ten_LoaiTK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[Ma_LoaiTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[Ma_NXB] [varchar](50) NOT NULL,
	[Ten_NXB] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [varchar](50) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[Ma_NXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[Ma_LoaiTK] [varchar](50) NOT NULL,
	[Ma_ChucNang] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[Ma_LoaiTK] ASC,
	[Ma_ChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[Ma_Sach] [varchar](50) NOT NULL,
	[Ten_Sach] [nvarchar](200) NOT NULL,
	[Gia_Ban] [money] NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](200) NULL,
	[Ngay_CapNhat] [date] NOT NULL,
	[SoLuong_Ton] [int] NULL,
	[Ma_ChuDe] [varchar](50) NULL,
	[Ma_NXB] [varchar](50) NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[Ma_Sach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAC_GIA]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAC_GIA](
	[Ma_TacGia] [varchar](50) NOT NULL,
	[Ten_TacGia] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[TieuSu] [nvarchar](max) NULL,
	[DienThoai] [varchar](20) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Ma_TacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Ma_LoaiTK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIETSACH]    Script Date: 10/17/2024 10:50:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIETSACH](
	[Ma_TacGia] [varchar](50) NOT NULL,
	[Ma_Sach] [varchar](50) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[ViTri] [nvarchar](50) NULL,
 CONSTRAINT [PK_VIETSACH] PRIMARY KEY CLUSTERED 
(
	[Ma_TacGia] ASC,
	[Ma_Sach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIET_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_DONDATHANG] FOREIGN KEY([Ma_DonHang])
REFERENCES [dbo].[DON_DATHANG] ([Ma_DonHang])
GO
ALTER TABLE [dbo].[CHITIET_DONHANG] CHECK CONSTRAINT [FK_CHITIET_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIET_DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_SACH] FOREIGN KEY([Ma_Sach])
REFERENCES [dbo].[SACH] ([Ma_Sach])
GO
ALTER TABLE [dbo].[CHITIET_DONHANG] CHECK CONSTRAINT [FK_CHITIET_SACH]
GO
ALTER TABLE [dbo].[DON_DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([Ma_KhachHang])
REFERENCES [dbo].[KHACHHANG] ([Ma_KhachHang])
GO
ALTER TABLE [dbo].[DON_DATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_CHUCNANG] FOREIGN KEY([Ma_ChucNang])
REFERENCES [dbo].[CHUCNANG] ([Ma_ChucNang])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_CHUCNANG]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_LOAI_TAIKHOAN] FOREIGN KEY([Ma_LoaiTK])
REFERENCES [dbo].[LOAI_TAIKHOAN] ([Ma_LoaiTK])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_LOAI_TAIKHOAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_CHUDE] FOREIGN KEY([Ma_ChuDe])
REFERENCES [dbo].[CHUDE] ([Ma_ChuDe])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_CHUDE]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([Ma_NXB])
REFERENCES [dbo].[NHAXUATBAN] ([Ma_NXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_LOAI_TAIKHOAN] FOREIGN KEY([Ma_LoaiTK])
REFERENCES [dbo].[LOAI_TAIKHOAN] ([Ma_LoaiTK])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_LOAI_TAIKHOAN]
GO
ALTER TABLE [dbo].[VIETSACH]  WITH CHECK ADD  CONSTRAINT [FK_VIETSACH_SACH] FOREIGN KEY([Ma_Sach])
REFERENCES [dbo].[SACH] ([Ma_Sach])
GO
ALTER TABLE [dbo].[VIETSACH] CHECK CONSTRAINT [FK_VIETSACH_SACH]
GO
ALTER TABLE [dbo].[VIETSACH]  WITH CHECK ADD  CONSTRAINT [FK_VIETSACH_TACGIA] FOREIGN KEY([Ma_TacGia])
REFERENCES [dbo].[TAC_GIA] ([Ma_TacGia])
GO
ALTER TABLE [dbo].[VIETSACH] CHECK CONSTRAINT [FK_VIETSACH_TACGIA]
GO
